<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.K23411T_App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".FbHubActivity"
            android:exported="false" />
        <activity
            android:name=".ProductListActivity2"
            android:exported="false" />
        <activity
            android:name=".ProductEditActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryListActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryEditActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerListActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerEditActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeListActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeEditActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ShopActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriesViewActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".OrderMangementActivity"
            android:exported="false" />
        <activity
            android:name=".AddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeAdvancedManagementActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeManagementActivity"
            android:exported="false" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".FontActivity"
            android:exported="false"
            android:label="@string/str_font_demo_title" />
        <activity
            android:name=".MajorActivity"
            android:exported="false"
            android:label="@string/str_major_explorer_title" />
        <activity
            android:name=".SubjectActivity"
            android:exported="false"
            android:label="@string/str_subject_list_title" />
        <activity
            android:name=".CategoryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryNewActivity"
            android:exported="false" />
        <activity
            android:name=".ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".MyContactActivity"
            android:exported="false" />
        <activity
            android:name=".SmsSpywareActivity"
            android:exported="false" />
        <activity
            android:name=".MultiThreadActivity"
            android:exported="false" />
        <activity
            android:name=".MainThreadObjectActivity"
            android:exported="false" />

        <receiver
            android:name=".InternetStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>